.NavBar {
  padding: 15px;

  .container {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      svg {
        width: 35px;
        height: 35px;
        color: #fff;
      }
    }
  }
}
