.PlayList {
  // background: linear-gradient(
  //   180deg,
  //   rgba(25, 133, 195, 0.837) 13%,
  //   rgba(81, 180, 236, 0.6929622190673144) 23%,
  //   rgba(126, 141, 136, 0) 57%,
  //   rgba(83, 98, 93, 0) 69%,

  //   rgba(211, 231, 225, 0) 100%
  // );
  // background: linear-gradient(
  //   180deg,
  //   rgba(6, 186, 12, 0.905) 13%,
  //   rgba(41, 225, 38, 0.526) 23%,
  //   rgba(84, 183, 95, 0.499) 57%,
  //   rgba(83, 98, 93, 0) 69%,

  //   rgba(211, 231, 225, 0) 100%
  // );

  .content {
    .playlist_info {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      padding: 20px;

      img {
        width: 250px;
        border-radius: 6px;
      }

      .playlist_data {
        font-weight: bold;

        h2 {
          font-size: clamp(23px, 5vw, 77px);
          font-weight: 800;
        }
        .total_min {
          font-weight: 600;
          font-size: clamp(9px, 2vw, 14px);
        }
      }
    }

    .tracks {
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .track {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 12px;
        border-radius: 5px;
        .index {
          width: 100%;
          max-width: 15px;
          font-size: clamp(9px, 2vw, 14px);
        }
        .icon_play {
          display: none;
        }
        &:hover {
          background-color: #e4dddd76;
          .index {
            display: none;
          }
          .icon_play {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 15px;

            svg {
              width: clamp(9px, 3vw, 14px);
              height: clamp(9px, 3vw, 14px);
            }
          }
        }
        .track_info {
          width: 100%;
          max-width: 500px;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 10px;

          img {
            width: clamp(20px, 10vw, 50px);
            height: clamp(20px, 10vw, 50px);
            border-radius: 4px;
          }
          .track_title {
            h5 {
              text-align: start;
              font-weight: 400;
              font-size: clamp(9px, 2vw, 14px);

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .artist {
              font-size: clamp(7px, 2vw, 9px);
              font-weight: 300;
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
        .album {
          font-size: clamp(9px, 2vw, 14px);
          width: 300px;
          text-align: left;
          margin: 0 5px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @media screen and (max-width: 700px) {
            display: none;
          }
        }

        .duration {
          width: 20px;
          font-size: clamp(9px, 2vw, 14px);
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .PlayList {
    height: 68.4vh;
    .content {
      .playlist_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-weight: 600;
        }
        .tracks {
          .track {
            .album {
              display: none;
            }
          }
        }
      }
    }
  }
}
